httpx
numpy
passlib
pillow
PyQt6
qasync
Quart
vidgear
mss
opencv-python-headless
bcrypt==4.0.1
keyboard
pywin32; sys_platform == "win32"
pynput
psutil
sqlalchemy
python-xlib; sys_platform=="linux" or sys_platform=="darwin"

pyqtgraph
